:root{
  --anim_duration_fast: 0.1s;
  --anim_duration_short: 0.2s;
  --anim_duration_medium: 0.7s;
  --anim_duration_long: 2s;
}
/*============ANIMATIONS============*/
.a_fade_in{
  animation: var(--anim_duration_medium) ease a_fade_in forwards;
}
@keyframes a_fade_in{
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
.a_fade_up{
  animation: var(--anim_duration_medium) ease a_fade_up forwards;
}
@keyframes a_fade_up{
  0%   {opacity: 0;
        transform: translateY(70px);}
  100% {opacity: 1;
        transform: translateY(0px);}
}
.a_pop_in{
  animation: var(--anim_duration_short) ease a_pop_in forwards;
}
@keyframes a_pop_in{
  0%   {opacity: 0;
        transform: scale(0);}
  80%  {opacity: 1;
        transform: scale(1.15);}
  100% {opacity: 1;
        transform: scale(1);}
}
.a_scale_in_from_left{
  transform-origin: 0% 50%;
  animation: var(--anim_duration_medium) ease a_scale_in_from_left forwards;
}
@keyframes a_scale_in_from_left{
  0%   {transform: scaleX(0);
        opacity: 0;}
  100% {transform: scaleX(1);
        opacity: 1;}
}

.a_slide_out_right{
  animation: var(--anim_duration_long) ease a_slide_out_right forwards;
}
@keyframes a_slide_out_right{
  0%   {transform: translateX(0%);}
  100% {transform: translateX(100%);}
}
.a_slide_out_down{
  animation: var(--anim_duration_long) ease a_slide_out_down forwards;
}
@keyframes a_slide_out_down{
  0%   {transform: translateY(0%);}
  100% {transform: translateY(100%);}
}

.a_collapse_right{
  transform-origin: 100% 50%;
  animation: var(--anim_duration_medium) linear a_collapse_right forwards;
}
@keyframes a_collapse_right{
  0%   {transform: scaleX(100%);}
  100% {transform: scaleX(0%);}
}
.a_collapse_down{
  transform-origin: 50% 100%;
  animation: var(--anim_duration_medium) linear a_collapse_down forwards;
}
@keyframes a_collapse_down{
  0%   {transform: scaleY(100%);}
  100% {transform: scaleY(0%);}
}

@keyframes a_info_image_rotate{
  0%   {transform: scale(2) rotate(0deg);}
  100% {transform: scale(2) rotate(-360deg);}
}