/*===============ROOT===============*/
:root{
  --primary_color: #41637C;
  --primary_color_dark: #000000;
  --primary_color_light: #6DACC8;
  
  --secondary_color: #B72C2D;
  --secondary_color_dark: #000000;
  --secondary_color_light: #D88D8F;
  
  --tertiary_color: #AA00FF;
  
  --primary_grey: #302D2C;
  --secondary_grey: #C0C0C0;
  --tertiary_grey: #8DA1B0;
  
  --glass_background_color: #FFFFFF50;
  --glass_border_color: #0094FF30;
  
  --original_wilderorg_grey: #B8B4AC;
  --original_wilderorg_grey_dark: #2c2928;
  --original_wilderorg_grey_light: #F0EDEA;
  --original_wilderorg_orange_dark: #D94000;
  --original_wilderorg_orange_light: #FF4B00;
  --original_wilderorg_blue_dark: #133059;
  --original_wilderorg_blue_light: #274774;
  
  --nav_height: 46px;
  --nav_colour: white;
  --nav_accent_colour: #41637C;
  
  --content_item_height: 400px;
  --large_content_item_height: calc(100vh - var(--nav_height));
  --content_item_separation: 20px;
  
  --video_card_width: 350px;
  --video_card_height: calc((var(--video_card_width) / 16) * 9);
  
  --standard_border_radius: 5px;
  --small_border_radius: 3px;
  --large_border_radius: 10px;
}
*{
  display: flex;
  box-sizing: border-box;
}
html{
  display: block;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav_height);
}
body{
  display: block;
  margin: unset;
  color: black;
  font-family: Segoe UI, sans-serif;
  background-color: var(--primary_color_light);
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.2s ease all;
}
main{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0px 0px 0px 0px;
  background: linear-gradient(180deg, var(--secondary_grey) 0%, var(--secondary_grey) calc(100% - 120px), var(--original_wilderorg_grey_dark) calc(100% - 120px), var(--original_wilderorg_grey_dark) 100%);
  background: var(--secondary_grey);
}
head{
  display: none;
}
script{
  display: none;
}
a{
  text-decoration: none;
  font-size: 14px;
  color: inherit;
}
p{
  font-size: 14px;
  margin: unset;
  margin-bottom: 0.5em;
}
b{
  display: contents;
}
i{
  display: contents;
}
u{
  display: contents;
}
black{
  display: contents;
  color: black;
}
white{
  display: contents;
  color: white;
}
red{
  display: contents;
  color: red;
}
blue{
  display: contents;
  color: dodgerblue;
}
primary-light{
  display: contents;
  color: var(--primary_color_light);
}
purple{
  display: contents;
  color: var(--tertiary_color);
}
grey{
  display: contents;
  color: grey;
}

#page_content{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: var(--nav_height);
}

/*=============IMPORTANT============*/
.round{
  border-radius: 50% !important;
}
.nobefore::before{
  display: none !important;
}
.noafter::after{
  display: none !important;
}
.noclick{
  user-select: none !important;
  pointer-events: none !important;
}
.invisible{
  opacity: 0 !important;
  visibility: hidden !important;
}
.hidden{
  display: none !important;
}
}