:root{
  --section_separation: 10px;
  --item_size: 160px;
  
  --modal_inner_size: 80%;
}

body{
  background: var(--secondary_grey);
}
main{
  flex-direction: row;
  flex-wrap: nowrap;
  background: #EFEFEF;
}

#page_content{
  margin: 100px 0px 100px 0px;
}

#gallery{
  flex-direction: column;
  flex-wrap: wrap;
  width: 95%;
}
.gallery_section{
  flex-direction: row;
  width: 100%;
  height: calc(var(--item_size) + 50px);
  min-height: calc(var(--item_size) + 50px);
  max-height: calc(var(--item_size) + 50px);
  margin: 0px 0px var(--section_separation) 0px;
  padding: var(--section_separation) 0px 0px 0px;
  border-top: 1px solid lightgrey;
}
.gallery_section:first-child{
  border-top: 1px solid var(--primary_color_light);
}
.gallery_section_title{
  width: 42px;
  min-width: 42px;
  max-width: 42px;
}
.gallery_section_inner{
  position: relative;
  flex-direction: row;
  width: 100%;
  margin: 0px 0px 0px 10px;
  overflow: hidden;
}
.gallery_section_inner::before, .gallery_section_inner::after{
  content: "";
  position: absolute;
  z-index: 2;
  top: 0px;
  display: block;
  width: 4px;
  height: 100%;
  box-shadow: 0px 0px 7px black;
  user-select: none;
  pointer-events: none;
}
.gallery_section_inner::before{
  left: -4px;
}
.gallery_section_inner::after{
  right: -4px;
}
.gallery_section_inner > div{
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.gallery_item{
  position: relative;
  width: var(--item_size);
  min-width: var(--item_size);
  max-width: var(--item_size);
  height: var(--item_size);
  min-height: var(--item_size);
  max-height: var(--item_size);
  margin: 5px;
  padding: 2px;
  background-color: white;
  border-radius: var(--standard_border_radius);
  box-shadow: 0px 0px 4px black;
  overflow: hidden;
}
.gallery_item::before{
  content: "";
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--primary_color_light);
  opacity: 1;
  transform: translate(-100%, -100%);
  transition: var(--anim_duration_short) ease transform;
}
.gallery_item:hover::before{
  transform: translate(0%, 0%);
}
.gallery_item_buttons{
  position: absolute;
  z-index: 4;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  width: 26px;
  opacity: 0;
  transition: 0.2s ease opacity;
}
.gallery_item:hover .gallery_item_buttons{
  opacity: 1;
}
.gallery_item_zoom_button, .gallery_item_info_button, .gallery_item_dload_button{
  display: block;
  width: 26px;
  height: 26px;
  margin: 0px 0px 3px 0px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 23px 23px;
  background-position: center;
  border-radius: 50%;
  backdrop-filter: blur(3px);
  opacity: 0.6;
  transition: 0.2s ease opacity;
  cursor: pointer;
}
.gallery_item_zoom_button:hover, .gallery_item_info_button:hover, .gallery_item_dload_button:hover{
  opacity: 1;
}
.gallery_item_zoom_button{
  background-image: url("../assets/icons/fullscreen_white_24dp.svg");
}
.gallery_item_info_button p{
  padding: 2px 0px 0px 11px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  user-select: none;
  pointer-events: none;
}
.gallery_item_dload_button{
  background-image: url("../assets/icons/download_white_24dp.svg");
}
.gallery_item_inner{
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--small_border_radius);
  transition: 0.2s ease all;
  overflow: hidden;
  user-select: none;
}
.gallery_item:hover .gallery_item_inner{
}
.gallery_item_info{
  display: none;
}

#gallery_modal{
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  backdrop-filter: blur(5px);
  opacity: 1;
  transition: 0.2s ease all;
}
.gallery_modal_close_button{
  position: absolute;
  z-index: 4;
  top: 10px;
  right: 10px;
  display: block;
  width: 30px;
  height: 30px;
  background-color: black;
  background-image: url("../assets/icons/close_white_24dp.svg");
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: center;
  border-radius: 50%;
  opacity: 0.6;
  transition: 0.2s ease opacity;
  cursor: pointer;
}
.gallery_modal_close_button:hover{
  opacity: 1;
}
.gallery_modal_info{
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80%;
  padding: 5px;
  font-family: 'Agency FB', sans-serif;
  background-color: white;
  border-radius: 0px 0px var(--standard_border_radius) var(--standard_border_radius);
}
.gallery_modal_info p{
  margin: 0px 0.5ch 0px 0px;
  font-size: 16px;
}
#gallery_modal > img{
  position: relative;
  width: var(--modal_inner_size);
  max-width: var(--modal_inner_size);
  max-height: var(--modal_inner_size);
  object-fit: contain;
}

#info_modal{
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  backdrop-filter: blur(5px);
  opacity: 1;
  transition: 0.2s ease all;
}
#info_modal .gallery_modal_info{
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  border-radius: var(--standard_border_radius);
}
#info_modal .gallery_modal_info p{
  margin: 4px 5px 4px 5px;
}